<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="registration.css" />
		<title>Registration</title>
	</head>
	<body>
	<div class="form_auth_block">
	  <div class="form_auth_block_content">
		<p class="form_auth_block_head_text">Registration</p>
		<form class="form_auth_style" action="#" method="post">
		  <label>Email</label>
		  <input type="email" name="auth_email" placeholder="Enter email" required >
		  <label>Password</label>
		  <input type="password" name="auth_pass" placeholder="Enter password" required >
		  <label>First Name</label>
		  <input type="text" name="auth_fname" placeholder="Liza" required >
		  <label>Last Name</label>
		  <input type="text" name="auth_lname" placeholder="Krylova" required >
		  <label>Middle Name</label>
		  <input type="text" name="auth_mname" placeholder="Ivanovna"> 
		  <label>Birthday</label>
		  <input type="date" name="auth_birthday" placeholder="01.01.2001" required> 
		  <button class="form_auth_button" type="submit" name="form_auth_submit">Create account</button>
		</form>
	  </div>
	  
	</div>
	</body>
</html>

