<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="registration.css" />
		<link rel="stylesheet" href="main.css">
		<title>Registration</title>
	</head>
	<body>
	<div class="header">
        <div class="container">
            <div class="navbar">
                <div class="inner_header">
                    <h1>Phone Shop</h1>
                </div>
                <nav>
                    <ul class="menu">
						<li><a class="btn"  href="index.html">Main</a></li>
                        <li><a class="btn"  href="catalog.html">Catalog</a></li>
                        <li><a class="btn" href="login.html">Authorization</a></li>
						<li><a class="btn" href="registration.html">Registration</a></li>
                        </ul>
                </nav>
            </div>
        </div>
    </div>
	<div class="form_auth_block">
	  <div class="form_auth_block_content">
		<p class="form_auth_block_head_text">Registration</p>
		<form class="form_auth_style" action="#" method="post">
		  <label>Email</label>
		  <input type="email" name="auth_email" placeholder="Enter email" required >
		  <label>Password</label>
		  <input type="password" name="auth_pass" placeholder="Enter password" required >
		  <label>First Name</label>
		  <input type="text" name="auth_fname" placeholder="Liza" required >
		  <label>Last Name</label>
		  <input type="text" name="auth_lname" placeholder="Krylova" required >
		  <label>Middle Name</label>
		  <input type="text" name="auth_mname" placeholder="Ivanovna"> 
		  <label>Birthday</label>
		  <input type="date" name="auth_birthday" placeholder="01.01.2001" required> 
		  <button class="form_auth_button" type="submit" name="form_auth_submit">Create account</button>
		</form>
	  </div>
	</div>
	</body>
</html>

